@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,button,select{
  font-family: 'Montserrat',sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-container {
  font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, #fff0f5, #fce4ec);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 20px;
}
